<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179085937904-4qfsv3ptge9ne1e5v4a4oplp75vqmm21.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179085937904-4qfsv3ptge9ne1e5v4a4oplp75vqmm21</string>
	<key>API_KEY</key>
	<string>AIzaSyA4n9OgM_pMNZfy5QP5IrmT96OOP5kRVkM</string>
	<key>GCM_SENDER_ID</key>
	<string>179085937904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.serb.MoneyTracker</string>
	<key>PROJECT_ID</key>
	<string>moneytracker-c7b86</string>
	<key>STORAGE_BUCKET</key>
	<string>moneytracker-c7b86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179085937904:ios:51ab4db800e82ce160c635</string>
</dict>
</plist>